.about-container{
    display: flex;
    flex-direction: column;
    padding:5% 5%;
}

.left{
    display: flex;
    flex-direction: row;
}

.bio{
justify-content: center;
padding:10% 20%;
}

.contact{
    padding-top:4rem;
}