/* IMPORTING FONTS */

@font-face {
  font-family: 'horizon';
  src: url('../fonts/horizon.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'horizon-outlined';
  src: url('../fonts/horizon-outlined.ttf');
  font-weight: lighter;

}

@font-face {
  font-family: 'avenir-medium';
  src: url('../fonts/avenir-medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avenir-black';
  src: url('../fonts/avenir-black.ttf');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-family:  'horizon', Helvetica, sans-serif;
  color:white;
  padding:0;
  margin:0;
  font-size: 4rem;
}

h2{
  font-family:  'horizon-outlined', Helvetica, sans-serif;
  color:white;
  padding:0;
  margin:0;
  font-size: 3rem;
  text-decoration: none;
  font-weight: normal;
}

h3{
  display: block;
  font-family:  'avenir-medium', Helvetica, sans-serif;
  color:white;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding:0;
  margin:0;
  display: inline-block;

}

h4{
  font-family:  'avenir-black', Helvetica, sans-serif;
  color:white;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding:0;
  margin:0;
  display: inline-block;
}

p{
  font-family:  'avenir-medium', Helvetica, sans-serif;
  font-size: 1.4rem;
  color:white;


}
.link{
text-decoration:  underline white solid;
}

.blue{
  color:#8ACDFE;
}

.gray{
  color: #e1e1e1;
}


.nav-link{
  display: block;
  font-family:  'horizon-outlined', Helvetica, sans-serif;
  color:white;
  font-size: 3em;
  letter-spacing: 2px;
  padding:0;
  margin:0;
  text-decoration: none;
  display: inline-block;

}

.text-link{
  display: block;
  font-family:  'avenir-black', Helvetica, sans-serif;
  color:white;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding:0;
  margin:0;
  display: inline-block;

}

.button{
  font-family:  'horizon', Helvetica, sans-serif;
  color:black;
  padding:0;
  margin:0;

  font-size: 2rem;
  letter-spacing: 2px;
  text-decoration: none;
}

.project-heading{
  font-family:  'avenir-black', Helvetica, sans-serif;
  color:white;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: normal;
}


.project-link{
  display: block;
  font-family:  'avenir-black', Helvetica, sans-serif;
  color:white;
  font-size: 2rem;
  letter-spacing: 2px;
  padding:0;
  margin:0;
  display: inline-block;

}