.home-container{
    display: flex;
    flex-direction: row;
    padding:5% 5%;
    justify-content: space-between;
}

.left{
    height:75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.home-link{
    padding-top:3rem;
}

.right{
    display: flex;
    flex-direction: column;
    padding-left:2rem;
}
.resize{
width:50vw
}

.main-img{
    opacity: 1;
}
.image-2{
    margin-top:1rem;
}
