.nav-link:hover{
    color:#8ACDFE;
    font-family:  'horizon', Helvetica, sans-serif;
    padding:0;
    margin:0;
    font-size: 3rem;
    text-decoration: none;
}


.text-link:hover{
    color:#8ACDFE;
}

.button:hover{
    background-color:#8ACDFE;
    color:white;
}

.project-link:hover{
    color:#8ACDFE;
  }

  .main-img:hover{
    -webkit-transition-duration: 0.5s; 
    transition-duration: 0.5s;
      opacity: .7;
  }