*, *::after, *::before{
  box-sizing: border-box;
}
body{
  background:#181818;
    margin:0;
}

.active{
  color:#8ACDFE;
  font-family:  'horizon', Helvetica, sans-serif;
  padding:0;
  margin:0;
  font-size: 3rem;
  text-decoration: none;
}

.navigation{
  flex-direction: column;
}
.introduction{
  display: flex;
flex-direction: column;
}

.about-introduction{
padding-bottom:14rem;
}
.column{
  display: inline-flex;
  flex-direction: row;
}

.text{
  padding:2rem 0;
  margin: 0 20vw;
}

.line{
  border-bottom: 1px white solid;

}
.banner{
text-align: center;
margin:4rem 0 0 0;
}

.banner-img{
  max-height: 100%;
  width: 100%;}

.process-img{
  max-height: 100%;
  width: 100%;
  margin-top:0.5rem;
}

.process{
  text-align: center;
}

.next{
  padding:4rem;
  text-align:  center;
}

.footer{
  display: flex;
  display: row;
  padding:3rem;
justify-content: space-evenly;
}

::-webkit-scrollbar{
  width:15px;
}

::-webkit-scrollbar-thumb{
  background:linear-gradient(180deg, #0068B4 0%, #8BCEFF 100%);
border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
  background:linear-gradient(180deg, #0068B4 0%, #8BCEFF 100%);
border-radius: 6px;
}

