@media screen and (max-width:800px){
 
}

@media screen and (max-width:1500px){
.home-container{
  flex-direction: column; 
  text-align: center;
}
.navigation{
  text-align: center;
}
.left{
display: block;
  height:auto;
}
.bio-space{
  word-spacing: 10px;
  font-size:5vw;
}
.resize{
  width:80vw;
}
.column{
  display: flex;
justify-content: space-between;
  flex-direction: row;

}
.right{
  padding:0;
  margin-top:3rem;
}

.nav-link{
  font-size:3vw;
}
.nav-link:hover{
  font-size:3vw;
}
.process-img{
  max-height: 100%;
  width: 100%;
}
.text{
  padding:2rem 0;
  border-bottom: 1px white solid;
  margin:0 0;
}
.guide-container{
  display: flex;
  flex-direction: column;
  }
.sidebar{
  height:auto;
}
.box-1{
  margin-top:2rem;
  text-align: center;
  font-size:2rem;  
}  
.box-2,.box-3,.box-4,.box-5,.box-6{
  padding-top:2rem;
  display: flex;
  flex-direction: column;
  border:none;
}
.box-2,.box-3,.box-4,.box-5{
  border-bottom:solid #8ACDFE 1px;  

}

.section-heading{
  font-size:2rem;  
  text-align: center;
  display: inline;
}
.section{
  width:auto;
  padding-bottom:2rem;
  }
.example{
  text-align: center;
  margin-left: 0;
}
.ad{
  width:100%;    
  display: block;
}

.nav-link, .mobile-h1{
font-size:2rem;
}


.name{
margin-top:1rem;
padding-bottom:2rem;
border-bottom:solid white 1px;
}

.footer{
text-align: center;
}

.nav-link, .nav-link:hover{
  font-size:5vw;
}

.bio-title{
  font-size: 3rem;
  letter-spacing: normal;
}
.bio{
  padding:3rem 0;
}

}